@inherits LayoutComponentBase
<ErrorBoundary>
    <ChildContent>
        <div class="min-h-screen cartoon-bg">
            <AppBar/>
            <main class="pt-16">
                @Body
            </main>
        </div>
    </ChildContent>
    <ErrorContent>
        <div class="min-h-screen cartoon-bg">
            <AppBar/>
            <main class="pt-16">
                @Body
            </main>
        </div>
    </ErrorContent>
</ErrorBoundary>
