@using Microsoft.AspNetCore.Components

@if (Script != null)
{
    <div>
        @Script
    </div>
}

@code {

    #region Parameter

    [Parameter] public string InputPosition { get; set; } = "top";
    [Parameter] public string Term { get; set; } = "ChapterOne";
    [Parameter] public string Repo { get; set; } = "TomJerry1940/Comment";
    [Parameter] public string RepoId { get; set; } = "R_kgDOMEw5Ng";

    #endregion


    public string Category { get; set; } = "General";
    public string CategoryId { get; set; } = "DIC_kwDOMEw5Ns4Cf2YW";
    public string Mapping { get; set; } = "specific";
    public bool ReactionsEnabled { get; set; } = true;
    public string Theme { get; set; } = "light";
    public string Language { get; set; } = "en";
    public string Loading { get; set; } = "lazy";
    public string EmitMetadata { get; set; } = "0";
    public string Strict { get; set; } = "0";

    private RenderFragment Script { get; set; } = null!;

    protected override void OnParametersSet()
    {
        Script = new RenderFragment(b =>
        {
            b.OpenElement(0, "script");
            b.AddMultipleAttributes(1, new List<KeyValuePair<string, object>>
            {
                new("src", "https://giscus.app/client.js"),
                new("data-repo", Repo),
                new("data-repo-id", RepoId),
                new("data-category", Category),
                new("data-category-id", CategoryId),
                new("data-mapping", Mapping),
                new("data-term", Term),
                new("data-strict", Strict),
                new("data-reactions-enabled", ReactionsEnabled ? "1" : "0"),
                new("data-emit-metadata", EmitMetadata),
                new("data-input-position", InputPosition),
                new("data-theme", Theme),
                new("data-lang", Language),
                new("data-loading", Loading),
                new("crossorigin", "anonymous"),
                new("async", true)
            });
            b.CloseElement();
        });
    }

}